{%- from "macros.html.j2" import render_bestiary_section -%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DMTools{% if title is defined %} | {{ title }}{% endif %}</title>
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='rpg-awesome-raw/ra-book.svg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='rpg-awesome/css/rpg-awesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body class="A4 {% if landscape is defined %}landscape{% else %}portrait{% endif %}">
<div class="screen-only">
  <nav class="navbar navbar-primary">
    <div class="navbar-columns container">
      <div class="navbar-brand">
        <a href="{{ url_for('toc.toc') }}" class="navbar-item navbar-brand" title="Return to homepage">
          <i class="ra ra-book"></i>
          <span>The Book of Tricks</span>
        </a>
      </div>
      <div class="navbar-links">
        {% block links %}
        {% endblock %}
      </div>
      <div>
        <a href="{{ url_for("toc.toc") }}" class="navbar-item" title="Return to table of contents">{{ title }}</a>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-secondary">
    {% block pages %}
      <div class="navbar-columns container">
        <div>
          {% if page is defined %}
            <a href="#" class="navbar-item">{{ page.name }}</a>
          {% endif %}
        </div>
        <div>
          {% if pages is defined %}
            {% for _ in pages %}
              <a href="#{{ loop.index }}" class="navbar-item">{{ loop.index }}</a>
            {% endfor %}
          {% endif %}
        </div>
        <div>
          {% if section is defined %}
            <a href="#" class="navbar-item">{{ section.name }}</a>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </nav>
</div>
{% block body %}#u
{% endblock body %}
{% if config['LIVE_RELOAD'] %}
  <script src="http://localhost:35729/livereload.js?snipver=1"></script>
{% endif %}
</body>
</html>
