{% extends 'base.html.j2' %}

{% block links %}
  <a title="Creature tents" href="{{ url_for('creatures.tents', section=section.slug, page=page.slug) }}" class="navbar-item link-tents"><i class="ra ra-bird-claw"></i></a>
  <a title="Encounter sheet" href="{{ url_for('creatures.encounters', section=section.slug, page=page.slug) }}" class="navbar-item link-encounter"><i class="ra ra-scroll-unfurled"></i></a>
  <a title="Character sheet" href="{{ url_for('creatures.summary', section=section.slug, page=page.slug) }}" class="navbar-item link-summaries"><i class="ra ra-crossed-swords"></i></a>
  <a title="Creature lists" href="{{ url_for('creatures.lists', section=section.slug, page=page.slug) }}" class="navbar-item link-lists"><i class="ra ra-book"></i></a>
{% endblock %}
