{% extends 'base_creatures.html.j2' %}

{% from 'macros.html.j2' import class, empty, source %}
{% from 'macros_creatures.html.j2' import modified %}

{% set title = "Encounters" %}
{% set pages = page.paged_encounters(33) %}

{% set show_encounter_area = page.areas()|length > 1 %}
{% set show_encounter_names = page.encounter_names()|length > 1 %}
{% set show_sources = page.sources()|length > 1 %}
{% set show_separate_monster_manual_references = False %}

{% block body %}
  {% for encounters in pages %}
    <section id="{{ loop.index }}" class="sheet">
      <div class="encounters">
        <main>
          <h1>
            <a href="#{{ loop.index }}">{{ section.name }}</a>
          </h1>
          <h2>
            <a href="#{{ loop.index }}">{{ page.name }}</a>
          </h2>
          <table>
            <tr>
              {% if show_encounter_area %}
                <th class="number">#</th>
              {% endif %}
              {% if show_encounter_names %}
                <th class="text encounter">Encounter</th>
              {% endif %}
              <th class="text creature">Creature</th>
              <th class="number challenge-rating">CR</th>
              <th class="number initiative">In</th>
              <th class="number armour_class">AC</th>
              <th class="hit-points" colspan="3">Hit points</th>
              <th class="status">Status</th>
              {% if show_sources %}
                <th class="source" colspan="{{ 2 if show_separate_monster_manual_references else 1 }}">Source</th>
              {% endif %}
            </tr>
            {% for encounter in encounters %}
              {% set encounter_loop = loop %}
              {% for ref in encounter.creatures %}
                {% set ref_loop = loop %}
                {% for n in range(0, ref.count) %}
                  {% set creature_loop = loop %}
                  <tr class="creature {{ 'creature-modified' if ref.creature.original else 'creature-unmodified' }}">
                    {% if ref_loop.first and creature_loop.first %}
                      {% if show_encounter_area %}
                        <td class="number reference" rowspan="{{ encounter.count }}">{{ encounter.area or '' }}</td>
                      {% endif %}
                      {% if show_encounter_names %}
                        <td class="text location" rowspan="{{ encounter.count }}">{{ encounter.name }}</td>
                      {% endif %}
                    {% endif %}

                    {% if creature_loop.first %}
                      <td class="text creature-details" rowspan="{{ ref.count }}">
                        {% call(value) modified(ref.creature.compare('name')) %}
                          <a href="{{ ref.creature.url }}">{{ ref.creature.name|plural(ref.count) }}</a>
                        {% endcall %}
                      </td>
                    {% endif %}

                    <td class="number challenge-rating">
                      {%- call(value) modified(ref.creature.compare('challenge_rating')) -%}
                        {{ ref.creature.challenge_rating_unicode() }}
                      {%- endcall -%}
                    </td>
                    <td class="number initiative">
                      {%- call(value) modified(ref.creature.compare('dexterity.modifier')) -%}
                        {{ value }}
                      {%- endcall -%}
                    </td>
                    <td class="number armour-class">
                      {%- call(value) modified(ref.creature.compare('armour_class')) -%}
                        {{ value or empty() }}
                      {%- endcall -%}
                    </td>
                    <td class="number hit-points min">
                      {%- call(value) modified(ref.creature.compare('min_hit_points')) -%}
                        {{ value or empty() }}
                      {%- endcall -%}
                    </td>
                    <td class="number hit-points avg">
                      {%- call(value) modified(ref.creature.compare('avg_hit_points')) -%}
                        {{ value or empty() }}
                      {%- endcall -%}
                    </td>
                    <td class="number hit-points max">
                      {%- call(value) modified(ref.creature.compare('max_hit_points')) -%}
                        {{ value or empty() }}
                      {%- endcall -%}
                    </td>

                    <td class="text-description status">
                      {{ ref.settings.notes|markdown if ref.settings.notes is not none else '' }}
                    </td>

                    {% if creature_loop.first and show_sources %}
                      {% if show_separate_monster_manual_references %}
                        {% if ref.creature.is_from_monster_manual %}
                          <td class="source" rowspan="{{ ref.count }}"></td>
                          <td class="source" rowspan="{{ ref.count }}">{{ source(ref.creature) }}</td>
                        {% elif ref.creature.original %}
                          <td class="source" rowspan="{{ ref.count }}">{{ source(ref.creature) }}</td>
                          <td class="source" rowspan="{{ ref.count }}">{{ source(ref.creature.original) }}</td>
                        {% else %}
                          <td class="source" rowspan="{{ ref.count }}">{{ source(ref.creature) }}</td>
                          <td class="source" rowspan="{{ ref.count }}"></td>
                        {% endif %}
                      {% else %}
                        {% if ref.creature.reference %}
                          <td class="source" rowspan="{{ ref.count }}">{{ source(ref.creature) }}</td>
                        {% elif ref.creature.original and ref.creature.original.reference %}
                          <td class="source" rowspan="{{ ref.count }}">{{ source(ref.creature.original) }}</td>
                        {% else %}
                          <td class="source" rowspan="{{ ref.count }}"></td>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </tr>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </table>
        </main>
      </div>
    </section>
  {% endfor %}
{% endblock %}
