{% extends 'base_creatures.html.j2' %}

{% from 'macros.html.j2' import class, empty, numeric_empty, source %}
{% from 'macros_creatures.html.j2' import modified %}

{% set title = "Creature list" %}
{% set pages = page.encounters %}

{% block body %}
  <section class="sheet">
    <main class="summary encounters">
      <div>
        <h1>
          {{ section.name }}
        </h1>
        <h2>
          {{ page.name }}
        </h2>
        {% for encounter in pages %}
          <div id="{{ loop.index }}">
            <h3><a href="#{{ loop.index }}">{{ encounter.name }}</a></h3>
            <p>
              {% for ref in encounter.creatures %}
                <a href="{{ ref.creature.url }}">{{ ref.creature.name }}</a>
                {%- if loop.last %}.{% else %}, {% endif -%}
              {% endfor %}
            </p>
          </div>
        {% endfor %}
      </div>
    </main>
  </section>
{% endblock %}
