{% extends 'base_creatures.html.j2' %}

{% from 'tents_monster.html.j2' import monster %}
{% from 'tents_character.html.j2' import character %}

{% set title = 'Creature tents' %}
{% set pages = page.tents(5) %}
{% set landscape = True %}

{% block title %}
  Creatures from
  <a href="#">{{ page.name }}</a> in the
  <a href="{{ url_for('toc.toc') }}">{{ section.name }}</a> section
{% endblock %}

{% block body %}
  {% for tents in pages %}
    <div class="sheet centered tents">
      <div class="tents-grid">
        {% for tent in tents %}
          {% if tent.creature is character %}
            {{ character(tent) }}
          {% else %}
            {{ monster(tent) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
