{% extends 'base_creatures.html.j2' %}

{% from 'macros.html.j2' import class, empty, numeric_empty, source %}
{% from 'macros_creatures.html.j2' import modified %}

{% set title = "Character sheet" %}
{% set pages = page.paged_encounters(32) %}

{% block body %}
  {% for encounters in pages %}
    <section id="{{ loop.index }}" class="sheet">
      <main class="summary encounters">
        <div>
          <h1>
            <a href="#{{ loop.index }}">{{ section.name }}</a>
          </h1>
          <h2>
            <a href="#{{ loop.index }}">{{ page.name }}</a>
          </h2>
          <table>
            <tbody>
            {% for encounter in encounters %}
              {% for ref in encounter.creatures %}
                {% if ref.creature is character %}
                  <tr class="character {{ class('theme', ref.creature.theme) }}">
                    <td class="character-name">
                      {{ ref.creature.name }}
                    </td>
                    <td class="character-type">
                      Level {{ ref.creature.level }} {{ ref.creature.type }}
                    </td>
                    <td class="stat">
                      <span class="name">AC</span>
                      <span class="value">
                        {% call(value) modified(ref.creature.compare('armour_class')) %}
                          {{ numeric_empty(value) }}
                        {% endcall %}
                      </span>
                    </td>
                    <td class="stat">
                      <span class="name">HP</span>
                      <span class="value">
                        {% call(value) modified(ref.creature.compare('avg_hit_points')) %}
                          {{ numeric_empty(value) }}
                        {% endcall %}
                      </span>
                    </td>
                    <td class="stat">
                      <span class="name">SS</span>
                      <span class="value">
                        {% call(value) modified(ref.creature.compare('spell_save_dc')) %}
                          {{ numeric_empty(value) }}
                        {% endcall %}
                      </span>
                    </td>
                    <td class="stat">
                      <span class="name">PP</span>
                      <span class="value">
                        {% call(value) modified(ref.creature.compare('passive_perception')) %}
                          {{ numeric_empty(value) }}
                        {% endcall %}
                      </span>
                    </td>
                    <td class="character-player">
                      {{ ref.creature.player }}
                    </td>
                  </tr>
                  <tr class="character {{ class('theme', ref.creature.theme) }}">
                    <td class="notes" colspan="7">
                      {{ ref.settings.notes|markdown if ref.settings.notes is not none else '' }}
                    </td>
                  </tr>
                  <tr class="break">

                  </tr>
                {% else %}
                  <tr>
                    <td colspan="7">
                      {{ ref.creature.name }} is not a character.
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </section>
  {% endfor %}
{% endblock %}
