<div>
  <table>
    {% for creature in creatures %}
      <tr>
        <td>{{ loop.index }}</td>
        <td><a href="#debug-{{ creature.slug }}">{{ creature.name }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>

<div>
  {% for creature in creatures %}
    <div id="debug-{{ creature.slug }}">
      <h4>
        {{ creature.name }}
      </h4>

      <table>
        <thead>
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
        </thead>

        {% for key, value, raw in creature.debug() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td>{{ raw }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}
</div>
