{% extends 'base.html.j2' %}
{% from 'macros.html.j2' import class, classes %}

{% set title = "Items" %}
{% set pages = chest.cards(9) %}

{% block title %}
  <a href="{{ url_for('items.detail', section=section.slug, chest=chest.slug) }}">{{ chest.name }}</a>
  from the
  <strong>{{ section.name }}</strong> section
{% endblock %}

{% block body %}
  {% for items in pages %}
    <div id="{{ loop.index }}" class="items sheet centered">
      <div class="items-grid">
        {% for item in items %}
          <div class="item-card {{ class('item-type', item.type.value) }} {{ classes('item', item.classes) }}" {% if item.background %}style="background-image: url('{{ item.background }}');"{% endif %}>
            <section class="item-header">
              <div class="item-name">{{ item.name }}</div>
            </section>
            <section class="item-subtitle">
              {%- if item.subtitle -%}
                <span class="item-subtitle">{{ item.subtitle }}</span>
              {%- elif item is equipment -%}
                <span>Equipment</span>
                {% if item.cost %}
                  <span class="item-cost">({{ item.cost }})</span>
                {% endif %}
              {%- else -%}
                {{- item.type.value|sentence_case -}}
                {%- if item.rarity -%}
                  , {{ item.rarity.value|lower }} magic item
                {%- endif -%}
                {% if item.attunement %}
                  <span class="item-attunement">Ⓐ</span>
                {% endif %}
              {%- endif -%}
            </section>
            <section class="item-body">
              {% if item.image %}
                <div class="item-image">
                  <img src="{{ item.image }}" alt="{{ item.name }}">
                </div>
              {% else %}
                <div class="item-description">
                  {% if item.description %}
                    {{ item.description|markdown }}
                  {% endif %}
                </div>
              {% endif %}
              {% if item.dice %}
                <div class="item-symbols item-dice">
                  <div class="die die-text">
                    <span>{{ item.dice }}</span>
                  </div>
                </div>
              {% elif item.icon_or_default() %}
                <div class="item-symbols item-icon">
                  <span class="ra {{ item.icon_or_default() }}"></span>
                </div>
              {% endif %}
              {% if item.attributes %}
                <div class="item-attributes">
                  <div class="item-attributes-grid">
                    {% for attribute in item.attributes %}
                      <div class="attribute {% if attribute.modified %}modified{% endif %}">
                        <span class="attribute-name">{{ attribute.name }}</span>
                        <span class="attribute-value">{{ attribute.value }}</span>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </section>
            <section class="item-footer">
              <span class="reference">{{ item.reference or '' }}</span>
              <span class="version">{{ item.version|int2roman }}</span>
            </section>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
