{% from 'macros.html.j2' import empty %}

{%- macro modified(result) -%}
  {%- set is_modified, new = result -%}
  {%- set text = caller(new) if caller is defined else new -%}
  {%- if is_modified -%}
    <span class="modified">{{ text or empty() }}</span>
  {%- else -%}
    <span class="unmodified">{{ text or empty() }}</span>
  {%- endif -%}
{%- endmacro -%}
