{#- Non-breaking space: &#160; -#}
{%- macro joiner() %} {%- endmacro -%}

{%- macro enabled(value) -%}
  {{ 'enabled' if value else 'disabled' }}
{%- endmacro -%}

{%- macro comma(loop) -%}
  {%- if not loop.last %}, {% endif -%}
{%- endmacro -%}

{%- macro empty() -%}
  <span class="none disabled">--</span>
{%- endmacro -%}

{%- macro numeric_empty(value) -%}
  {%- if value -%}
    {{ value }}
  {%- elif value == 0 -%}
    --
  {%- endif -%}
{%- endmacro -%}

{%- macro value_or_empty(value) -%}
  {% if value %}
    {{ value }}
  {% else %}
    {{ empty() }}
  {% endif %}
{%- endmacro -%}

{%- macro slug(text) -%}
  {{ text|replace(' ', '-')|lower }}
{%- endmacro -%}

{%- macro class(base, text) -%}
  {{ base }}-{{ slug(text) }}
{%- endmacro -%}

{%- macro classes(base, items) -%}
  {%- for item in items -%}
    {{- class(base, item) -}}
    {{- ' ' -}}
  {%- endfor -%}
{%- endmacro -%}

{%- macro source(creature) -%}
  {%- if creature.reference -%}
    <a class="reference" href="{{ creature.url }}">{{- creature.reference -}}</a>
  {%- endif -%}
{%- endmacro -%}

{%- macro render_bestiary_section(section, parts, level=0) -%}
  <ul class="section section-level-{{ level }}">
    {% for subsection_id, subsection in section %}
      {% set subsection_link = parts|list + [subsection_id] %}
      {% set section_level = level + 1 %}
      {% if subsection is iterable %}
        <li>
          <div class="subsection subsection-level-{{ section_level }}">
            <span class="subsection-name">
              <a class="" title="Encounter sheet for {{ subsection_id|titlecase }}" href="{{ url_for('bestiary.encounter', section=subsection_link) }}">{{ subsection_id|titlecase }}</a>
            </span>
            <span class="subsection-links">
              <a class="link-encounter" title="Encounter sheet for {{ subsection_id|titlecase }}" href="{{ url_for('bestiary.encounter', section=subsection_link) }}"><i class="ra ra-sword"></i>️</a>
              <a class="link-tents" title="Creature tents for {{ subsection_id|titlecase }}" href="{{ url_for('bestiary.tents', section=subsection_link) }}"><i class="ra ra-wyvern"></i></a>
            </span>
          </div>
          {{ render_bestiary_section(subsection, parts=subsection_link, level=section_level) }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro -%}
