{% from 'macros.html.j2' import enabled, comma, empty, value_or_empty, class %}
{% from 'macros_creatures.html.j2' import modified %}

{% macro image(url) %}
  {% if url %}
    <img src="{{ url }}" alt="">
  {% endif %}
{% endmacro %}

{%- macro attribute(name) -%}
  {# Display a tidbit, e.g. Languages. #}
  {# Should have no punctuation after the name. #}
  <span class="property">
    <span class="name">{{ name }}</span>
    <span class="value">{{ caller() }}</span>
  </span>
{%- endmacro -%}

{%- macro attribute_dict(name, dictionary) -%}
  {% if dictionary %}
    <span class="property">
      <span class="name">{{ name }}</span>
      <span class="value">
        {%- for key, value in dictionary.items() -%}
          {{ caller(key, value).strip() }}
          {%- if not loop.last %}, {% endif -%}
        {%- endfor -%}
      </span>
    </span>
  {% endif %}
{%- endmacro -%}

{% macro attributes(creature) %}
  <div class="stats attributes">
    {%- macro stat(name, class=None) -%}
      <span class="stat attribute name {{ class }}">{{ name }}</span>
      <span class="stat attribute value {{ class }}">{{ caller() }}</span>
    {%- endmacro -%}
    {% call stat('AC', 'armour_class') %}
      {{ value_or_empty(modified(creature.compare('armour_class'))) }}
    {% endcall %}
    {% call stat('Hit dice', 'hit_dice') %}
      {{ value_or_empty(modified(creature.compare('hit_dice'))) }}
    {% endcall %}
    {% call stat('Hit points', 'hit_points') -%}
      {% call(value) modified(creature.compare('min_hit_points')) %}
        <span class="min">{{ value_or_empty(value) }}</span>
      {% endcall %}
      {% call(value) modified(creature.compare('avg_hit_points')) %}
        <span class="avg">{{- value_or_empty(value) -}}</span>
      {% endcall %}
      {% call(value) modified(creature.compare('max_hit_points')) %}
        <span class="max">{{ value_or_empty(value) }}</span>
      {% endcall %}
    {%- endcall %}
    {% call stat('Speed', 'speed') -%}
      {% if creature.speed %}
        {% call(value) modified(creature.compare('speed')) %}
          <span>{{ creature.speed.value }} ft.</span>
        {% endcall %}
      {% else %}
        {{ empty() }}
      {% endif %}
    {%- endcall %}
  </div>
{% endmacro %}

{% macro abilities(creature) %}
  <div class="stats abilities">
    {% for name, ability in creature.abilities().items() %}
      <div class="stat ability name {{ name|lower }}">{{ name|upper }}</div>
      <div class="stat ability value {{ name|lower }}">
        {% if ability is none %}
          {{ empty() }}
        {% else %}
          <span class="modifier {{ enabled(ability.modifier) }}">
            {{ ability.modifier }}
          </span>
          {% if ability.saving_throw %}
            <span class="saving-throw">
              ({{ ability.saving_throw }})
            </span>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}
