{% from 'macros.html.j2' import class, classes, enabled, comma, empty, value_or_empty, source, slug %}
{% from 'tents_creature.html.j2' import attribute, attribute_dict, abilities, attributes, image %}
{% from 'macros_creatures.html.j2' import modified %}

{%- macro monster(tent) -%}
  {%- set monster = tent.creature -%}

  <div id="{{ slug(monster.name) }}" class="creature monster {{ class('source', monster.source) }} {{ classes('creature', monster.classes) }} {{ classes('creature', tent.settings.classes) }} {{ class('creature', 'legendary' if monster.legendary else 'normal') }}">
    <div class="box front">
      <div class="image">
        {{ image(monster.image) }}
      </div>
      <div class="name">
        {{ modified(monster.compare('name')) }}
      </div>
      <div class="description">
        {{ monster.description() }}
      </div>
    </div>
    <div class="box back header">
      <span class="name"><a href="{{ monster.url }}">{{ modified(monster.compare('name')) }}</a></span>
      <span class="initiative">{{ modified(monster.compare('dexterity.modifier')) }}</span>
      <span class="armour-class">{{ modified(monster.compare('armour_class')) }}</span>
      <span class="description">{{ monster.description(include_alignment=True) }}</span>
      <span class="initiative-caption">IN</span>
      <span class="armour-class-caption">AC</span>
    </div>
    <div class="box details back numbers">
      {{ attributes(monster) }}
      {{ abilities(monster) }}
    </div>
    <div class="box details back text creature-text">
      <div class="creature-text-attributes">
        {%- if monster.speeds[1:] -%}
          {%- call attribute('Speed') -%}
            {%- call(value) modified(monster.compare('speeds')) -%}
              {{ value|join(', ') }}
            {%- endcall -%}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.saving_throws -%}
          {%- call attribute('Saving Throws') -%}
            {%- call(value) modified(monster.compare('saving_throws')) -%}
              {{ value|join(', ') }}
            {%- endcall -%}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.damage_immunities -%}
          {%- call attribute('Damage Immunities') -%}
            {{ modified(monster.compare('damage_immunities')) }}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.damage_resistances -%}
          {%- call attribute('Damage Resistances') -%}
            {{ modified(monster.compare('damage_resistances')) }}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.damage_vulnerabilities -%}
          {%- call attribute('Damage Vulnerabilities') -%}
            {{ modified(monster.compare('damage_vulnerabilities')) }}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.condition_immunities -%}
          {%- call attribute('Condition Immunities') -%}
            {{ modified(monster.compare('condition_immunities')) }}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.skills -%}
          {%- call attribute('Skills') -%}
            {%- call(value) modified(monster.compare('skills_list')) -%}
              {{ value|join(', ') }}
            {%- endcall -%}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.senses -%}
          {%- call attribute('Senses') -%}
            {%- call(value) modified(monster.compare('senses')) -%}
              {{ monster.notable_senses }}
            {%- endcall -%}
          {%- endcall -%}
        {%- endif -%}

        {%- if monster.languages -%}
          {%- call attribute('Languages') -%}
            {{ modified(monster.compare('languages')) }}
          {%- endcall -%}
        {%- endif -%}

        {% macro trait_summary(section, properties) %}
          {% if properties %}
            <span class="property">
              <span class="name">{{ section }}</span>
              <span class="value">{{ properties|map(attribute='name')|join(', ') }}</span>
            </span>
          {% endif %}
        {% endmacro %}

        {% macro trait_details(properties, original_properties, section=None) %}
          {% if properties %}
            {% for property in properties %}
              <span class="property">
                <span class="name">
                  {{- property.name -}}
                </span>
                <span class="value">
                  {% if property.description %}
                    {{- modified((property not in original_properties|default(properties), property.description)) -}}
                  {% endif %}
                </span>
              </span>
            {% endfor %}
          {% endif %}
        {% endmacro %}

        {% if tent.settings.summarize %}
          {{ trait_summary('Traits', monster.traits) }}
          {{ trait_summary('Actions', monster.actions) }}
          {{ trait_summary('Legendary Actions', monster.legendary_actions) }}
        {% else %}
          {{ trait_details(monster.traits, monster.original.traits) }}
          {{ trait_details(monster.actions, monster.original.actions, 'Actions') }}
          {{ trait_details(monster.legendary_actions, monster.original.legendary_actions, 'Legendary Actions') }}
        {% endif %}
      </div>

      {% if tent.settings.notes and False %}
        <div class="creature-text-notes">
          {{ tent.settings.notes }}
        </div>
      {% endif %}
    </div>
    <div class="box details back text footer">
      <div class="property references">
        <span class="value">
          {%- if monster.reference -%}
            {{- monster.reference -}}
          {%- endif -%}

          {%- if monster.original and monster.original.reference -%}
            {{- ', ' if monster.reference else '' }}
            {{ monster.original.reference }}
            (<a href="{{ monster.url }}" class="modified">{{ monster.original.name }}</a>)
          {%- endif -%}
        </span>
      </div>
      <div class="property challenge-rating">
        {% if monster.challenge_rating %}
          CR {{ monster.challenge_rating }}
        {% endif %}
      </div>
    </div>
  </div>
{%- endmacro -%}
