{% extends 'base.html.j2' %}
{% from 'tents_creature.html.j2' import enabled, comma, empty, value_or_empty, attribute, attribute_dict, abilities, attributes, image %}
{% from 'macros.html.j2' import class %}

{% set title = "Blank character tents" %}
{% set landscape = True %}

{% block body %}
  <div class="sheet centered tents">
    <div class="tents-grid">
      {% for _ in range(5) %}
        <div class="creature character">
          <div class="box front">

          </div>
          <div class="box back header">
          </div>
          <div class="box back form details">
            <div class="brick">
              <input id="hit-points" type="text">
              <label for="hit-points">Hit Points</label>
            </div>

            <div class="brick">
              <input id="armour-class" type="text">
              <label for="armour-class">Armour Class</label>
            </div>

            <div class="brick">
              <input id="spell-save-dc" type="text">
              <label for="spell-save-dc">Spell Save DC</label>
            </div>

            <div class="brick">
              <input id="passive-perception" type="text">
              <label for="passive-perception">Passive Perception</label>
            </div>

            <div class="brick wide">
              <input id="conditions" type="text">
              <label for="conditions">Conditions</label>
            </div>
          </div>
          <div class="box back details text footer">
            <div class="property">
              <span class="name">Player</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
