{% from 'tents_creature.html.j2' import image %}
{% from 'macros.html.j2' import class, classes, empty, numeric_empty %}

{%- macro character_description(character) -%}
  {% if character.level %}Level {{ character.level }}{% endif %} {{ character.type|title }}
{%- endmacro -%}

{% macro character(ref) %}
  {%- set character = ref.creature -%}
  <div class="creature character {{ class('source', character.source) }} {{ class('campaign', character.campaign) }} {{ class('theme', character.theme) }} {{ classes('creature', ref.settings.classes) }}">
    <div class="box front">
      <div class="image">
        {{ image(character.image) }}
      </div>
      <div class="name">
        {{ character.name }}
      </div>
      <div class="description">
        {{ character_description(character) }}
      </div>
    </div>
    <div class="box back header">
      <span class="name">{{ character.name }}</span>
      <span class="description">{{ character_description(character) }}</span>
      <span class="armour-class">{{ numeric_empty(character.armour_class) }}</span>
      <span class="armour-class-caption">AC</span>
    </div>
    <div class="box back form details">
      <div class="brick">
        <input type="text" value="{{ numeric_empty(character.hit_points) }}" title="Hit Points">
        <label>Hit Points</label>
      </div>

      <div class="brick">
        <input type="text" value="{{ numeric_empty(character.armour_class) }}" title="Armour Class">
        <label>Armour Class</label>
      </div>

      <div class="brick">
        <input type="text" value="{{ numeric_empty(character.spell_save_dc) }}" title="Spell Save DC">
        <label>Spell Save DC</label>
      </div>

      <div class="brick">
        <input type="text" value="{{ numeric_empty(character.passive_perception) }}" title="Passive Perception">
        <label>Passive Perception</label>
      </div>

      <div class="brick wide">
        {% if ref.settings.notes %}
          <div class="notes">{{ ref.settings.notes|markdown }}</div>
        {% endif %}
      </div>
    </div>
    <div class="box back details text footer">
      <div class="property">
        {% if character.campaign %}
          <span class="value">{{ character.campaign }}</span>
        {% endif %}
      </div>
      <div class="property">

      </div>
      <div class="property">
        {% if character.player %}
          <strong class="value">{{ character.player }}</strong>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
