{% extends "base.html.j2" %}

{% from "toc_items.html.j2" import toc_page_items, toc_items_summary %}
{% from "toc_creatures.html.j2" import toc_page_creatures, toc_creatures_summary %}

{% set title = "Table of Contents" %}

{% block pages %}
  <div class="container">
    <a href="#creatures" class="navbar-item">Creatures</a>
    <a href="#items" class="navbar-item">Items</a>
    <a href="#credits" class="navbar-item">Credits</a>
  </div>
{% endblock %}

{% block body %}
  <div id="toc">
    <div class="sheet">
      <header>
        <h1 class="brand">The Book of Tricks</h1>
        <p>Create creature tents, item cards and encounter lists for D&D 5E.</p>
      </header>

      <div class="toc-grid">
        {{ toc_creatures_summary(creatures) }}
        {{ toc_items_summary(items) }}
      </div>
    </div>

    {% for page in creatures|paginate_by_size(30) %}
      {{ toc_page_creatures(page) }}
    {% endfor %}

    {% for page in items|paginate_by_size(30) %}
      {{ toc_page_items(page) }}
    {% endfor %}

    <div class="sheet">
      <div id="credits" class="credits">
        <section>
          <h2><a href="#credits">Credits</a></h2>

          <p>This project it is licensed under the
            <a href="https://opensource.org/licenses/MIT" rel="nofollow">MIT Licence</a>, and was written by
            <a href="https://github.com/borntyping">Sam Clements</a>.</p>
          <p>Favicon from the
            <a href="https://github.com/nagoshiashumari/rpg-awesome-raw">RPG-Awesome</a> font by
            <a href="https://github.com/nagoshiashumari">Daniela Howe</a>, licensed under the MIT licence.
          </p>
          <p>The <code>paper.css</code> stylesheet is from
            <a href="https://github.com/cognitom/paper-css/">paper-css</a> by
            <a href="https://github.com/cognitom">Tsutomu Kawamura</a>, licensed under the MIT licence.
          </p>
          <p>The <code>textFit.js</code> library is from
            <a href="https://github.com/STRML/textFit">textFit</a> by
            <a href="https://github.com/STRML">Samuel Reed</a>, licensed under the MIT licence.
          </p>
          <p>Originally started as a project to automatically fill the
            <a href="http://www.enworld.org/forum/rpgdownloads.php?do=download&amp;downloadid=1193" rel="nofollow">Creature and Character cards</a> PDFs by Frank Foulis and Jack Abrasion, published on
            <a href="http://www.enworld.org/forum/rpgdownloads.php?do=download&amp;downloadid=1193" rel="nofollow">enworld.org</a>.
          </p>
          <p>Dungeons &amp; Dragons, D&amp;D, etc, are property of Wizards of the Coast. This project is provided for personal use only. No content from D&amp;D or D&amp;D Beyond is included with this repository.</p>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
