{% macro toc_page_items(items) %}
  <div class="sheet">
    <nav class="vaults">
      <h2 id="items"><a href="#items">Items</a></h2>
      <ul class="tree">
        {% for section in items %}
          <li id="items-{{ section.slug }}" class="tree-section">
            <a href="#items-{{ section.slug }}" class="tree-header">{{ section.name }}</a>
            <ul>
              {% for chest in section %}
                {% set chest_url = url_for('items.detail', section=section.slug, chest=chest.slug) %}
                {% set chest_title = 'Item cards for %s in %s'|format(chest.name, section.name) %}
                <li class="flex">
                  <a title="{{ chest_title }}" href="{{ chest_url }}">{{ chest.name }}</a>
                  <span class="links">
                    <a class="link-vault" title="{{ chest_title }}" href="{{ chest_url }}"><i class="ra ra-round-bottom-flask"></i>️</a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endmacro %}

{% macro toc_items_summary(items) %}
  <nav>
    <h2><a href="#items">Items</a></h2>
    <p>Equipment and magic item cards</p>
    <ul class="tree">
      <li class="tree-section">
        <span class="tree-header">Sections</span>
        <ul>
          {% for section in items %}
            <li>
              <a href="#items-{{ section.slug }}">{{ section.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
{% endmacro %}
