{% macro toc_page_creatures(creatures) %}
  <div class="sheet">
    <nav class="creatures">
      <h2 id="creatures"><a href="#creatures">Creatures</a></h2>
      <ul class="tree">
        {% for section in creatures %}
          <li id="creatures-{{ section.slug }}" class="tree-section">
            <a href="#creatures-{{ section.slug }}" class="tree-header">{{ section.name }}</a>
            <ul>
              {% for page in section %}
                <li class="tree-page flex">
                  <span>
                    <a href="{{ url_for('creatures.tents', section=section.slug, page=page.slug) }}" class="link-creature">{{ page.name }}</a>
                  </span>
                  <span class="links">
                    <a title="Creature tents" href="{{ url_for('creatures.tents', section=section.slug, page=page.slug) }}" class="link-tents"><i class="ra ra-bird-claw"></i></a>
                    <a title="Encounter sheet" href="{{ url_for('creatures.encounters', section=section.slug, page=page.slug) }}" class="link-encounter"><i class="ra ra-scroll-unfurled"></i></a>
                    <a title="Summary sheet" href="{{ url_for('creatures.summary', section=section.slug, page=page.slug) }}" class="link-summaries"><i class="ra ra-crossed-swords"></i></a>
                    <a title="Creature lists" href="{{ url_for('creatures.lists', section=section.slug, page=page.slug) }}" class="link-lists"><i class="ra ra-book"></i></a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endmacro %}

{% macro toc_creatures_summary(creatures) %}
  <nav>
    <h2><a href="#creatures">Creatures</a></h2>
    <p>Monsters and NPCs.</p>
    <ul class="tree">
      <li class="tree-section">
        <span class="tree-header">
          Sections
        </span>
        <ul>
          {% for section in creatures %}
            <li class="tree-page">
              <a href="#creatures-{{ section.slug }}" class="name">{{ section.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="tree-section">
        <span class="tree-header">
          Utilities
        </span>
        <ul>
          <li>
            <a href="{{ url_for("creatures.blank") }}" class="name">Blank character tents</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
{% endmacro %}
