@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'); 
  h1, h2 {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-variant: small-caps; }

    h3, h4, h5 {
      font-family: "Quattrocento", serif;
      font-weight: 400;
      font-weight: 700; }

      .modified {
        color: #1c9aef; }

        .curse {
          color: #58170D; }
          .curse strong {
            color: #FF4136; }

  .encounters {
    padding: 10mm;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .encounters h1, .encounters h2, .encounters h3, .encounters h4, .encounters h5 {
      margin: 0; }
      .encounters h1 {
        font-size: 2rem;
        margin-bottom: 0; }
        .encounters h2 {
          color: #58170D;
          font-size: 1.5rem;
          margin-bottom: 1em; }
          .encounters a {
            color: unset;
            text-decoration: none; }
            .encounters table {
              font-size: 0.8em;
              border-spacing: 0;
              border-collapse: collapse;
              vertical-align: center;
              width: 100%; }
              .encounters table th, .encounters table td {
                border: 1px solid darkgrey;
                margin: 0;
                padding: 6px; }
                .encounters table th p, .encounters table td p {
                  margin: 0;
                  padding: 0; }
                  .encounters table th.text, .encounters table td.text {
                    width: 100px;
                    max-width: 100px;
                    text-align: left; }
                    .encounters table th.text[rowspan="1"], .encounters table td.text[rowspan="1"] {
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis; }
                .encounters table thtd.status, .encounters table thtd.text-description,
                .encounters table tdtd.status, .encounters table tdtd.text-description {
                  text-align: right;
                  color: grey; }
                  .encounters table th.source, .encounters table td.source {
                    width: 56px;
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis; }
                    .encounters table th.number, .encounters table td.number {
                      width: 28px;
                      padding-left: 0;
                      padding-right: 0;
                      text-align: center; }
    .encounters footer {
      text-align: center;
      font-size: 0.8em;
      font-variant: small-caps;
      color: #808080; }
      .encounters .creature a {
        color: unset; }
        .encounters .creature .creature-details {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          .encounters .creature .bold, .encounters .creature .armour-class,
          .encounters .creature .hit-points.avg {
            font-weight: 700; }
            .encounters .creature .source, .encounters .creature .page,
            .encounters .creature .area {
              color: gray; }
              .encounters .creature .initiative, .encounters .creature .hit-points.min,
              .encounters .creature .hit-points.max {
                color: gray; }

  .items {
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center; }
    .items .items-grid {
      display: grid;
      grid-template-columns: repeat(3, 62.5mm);
      grid-template-rows: repeat(3, 90mm);
      grid-gap: 2mm;
      margin: 10mm; }
      .items .items-grid .item-card {
        width: 62.5mm;
        height: 90mm;
        overflow: hidden;
        display: grid;
        grid-template-rows: 50px 25px 1fr 25px;
        border: 2px solid black;
        font-size: 12px;
        background-size: cover;
        background-position: center;
        background-clip: padding-box;
        background-repeat: no-repeat; }
        .items .items-grid .item-card section {
          padding: 5px;
          overflow: hidden;
          font-family: 'Open sans', sans-serif; }
          .items .items-grid .item-card section + section {
            border-top: 1px solid black; }
            .items .items-grid .item-card section .name {
              font-weight: bold; }
              .items .items-grid .item-card section.item-header {
                display: flex;
                align-items: center;
                text-align: center;
                font-family: "Quattrocento", serif;
                font-weight: 400; }
                .items .items-grid .item-card section.item-header .item-name {
                  width: 100%;
                  font-size: 1rem;
                  font-weight: 700; }
          .items .items-grid .item-card section.item-subtitle {
            font-family: "Quattrocento", serif;
            font-weight: 400; }
            .items .items-grid .item-card section.item-subtitle .item-attunement {
              font-size: 0.8em;
              float: right; }
          .items .items-grid .item-card section.item-body {
            overflow: hidden;
            display: grid;
            grid-template-rows: 1fr min-content min-content; }
            .items .items-grid .item-card section.item-body .item-image {
              display: flex;
              align-items: center;
              justify-content: center;
              max-width: 100%;
              max-height: 100%; }
              .items .items-grid .item-card section.item-body img {
                max-width: 100%;
                max-height: 100%; }
                .items .items-grid .item-card section.item-body .item-description p {
                  margin: 0; }
                  .items .items-grid .item-card section.item-body .item-description p:not(:last-of-type) {
                    margin-bottom: 5px; }
            .items .items-grid .item-card section.item-body .item-symbols {
              padding: 1em 0;
              text-align: center; }
              .items .items-grid .item-card section.item-body .item-symbols.item-icon {
                display: flex;
                justify-content: center; }
                .items .items-grid .item-card section.item-body .item-symbols.item-icon .ra {
                  font-size: 40px;
                  width: unset;
                  height: unset;
                  color: #7ba0a8; }
              .items .items-grid .item-card section.item-body .item-symbols.item-dice {
                display: flex;
                flex-wrap: wrap;
                justify-content: center; }
                .items .items-grid .item-card section.item-body .item-symbols.item-dice .die {
                  height: 40px; }
                  .items .items-grid .item-card section.item-body .item-symbols.item-dice .die-text {
                    margin-left: 0.1em;
                    color: #FF4136;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 40px;
                    text-align: center; }
            .items .items-grid .item-card section.item-body .item-attributes {
              height: 40px;
              display: flex;
              align-items: end; }
              .items .items-grid .item-card section.item-body .item-attributes .item-attributes-grid {
                width: 100%;
                display: grid;
                grid-template-rows: min-content min-content;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                grid-column-gap: 10px; }
                .items .items-grid .item-card section.item-body .item-attributes .item-attributes-grid .attribute-name {
                  font-weight: bold; }
                  .items .items-grid .item-card section.item-body .item-attributes .item-attributes-grid .attribute-value {
                    float: right;
                    font-variant-numeric: tabular-nums; }
          .items .items-grid .item-card section.item-footer {
            display: flex;
            justify-content: space-between;
            color: #808080; }
            .items .items-grid .item-card section.item-footer .version {
              color: #b3b3b3; }
          .items .items-grid .item-card section.item-header,
          .items .items-grid .item-card section.item-subtitle {
            text-align: center; }
            .items .items-grid .item-card section.item-subtitle,
            .items .items-grid .item-card section.item-footer {
              line-height: 15px; }
    .items .item-type-armor .item-icon .ra {
      color: #0074D9 !important; }
    .items .item-type-potion .item-icon .ra {
      color: #2ECC40 !important; }
    .items .item-type-ring .item-icon .ra {
      color: #FFDC00 !important; }
    .items .item-type-rod .item-icon .ra {
      color: #F012BE !important; }
    .items .item-type-scroll .item-icon .ra {
      color: #FF851B !important; }
      .items .item-type-scroll .item-header {
        color: grey; }
        .items .item-type-scroll .item-header em {
          color: black;
          font-style: normal;
          display: block; }
    .items .item-type-staff .item-icon .ra {
      color: #7FDBFF !important; }
    .items .item-type-wand .item-icon .ra {
      color: #B10DC9 !important; }
    .items .item-type-weapon .item-icon .ra {
      color: #FF4136 !important; }
    .items .item-type-wondrous-item .item-header {
      color: #001F3F;
      font-style: italic; }
      .items .item-type-wondrous-item .item-icon .ra {
        color: #001F3F !important; }
    .items .item-many-attributes .item-attributes-grid {
      grid-template-rows: unset !important;
      grid-template-columns: 1fr 1fr !important;
      grid-auto-columns: unset !important;
      grid-auto-rows: 1fr !important;
      grid-auto-flow: row !important; }

  .summary {
    padding: 10mm;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .summary h1 {
      font-size: 2rem;
      margin: 0;
      text-align: center; }
      .summary h2 {
        color: #58170D;
        font-size: 1.5rem;
        text-align: center;
        margin: 0 0 1em 0; }
        .summary table {
          font-size: 0.8em;
          border-spacing: 0;
          border-collapse: collapse;
          vertical-align: center;
          width: 100%; }
          .summary table th, .summary table td {
            border: 1px solid darkgrey;
            margin: 0;
            padding: 6px; }
            .summary table .character-name {
              font-weight: 700;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
              .summary table .stat {
                text-align: center; }
                .summary table .stat .name {
                  color: grey; }
                  .summary table .stat .value {
                    font-weight: bold; }
          .summary table .character-player {
            width: 100px;
            text-align: center; }
            .summary table .notes {
              height: 56px;
              grid-column: 1 / 7;
              vertical-align: top;
              color: grey; }
              .summary table .break {
                height: 28px;
                border: none; }

  .theme-navy td {
    border: 1px solid #001F3F !important; }
    .theme-navy .character-name {
      color: black !important; }

  .theme-blue td {
    border: 1px solid #0074D9 !important; }
    .theme-blue .character-name {
      color: #00305a !important; }

  .theme-aqua td {
    border: 1px solid #7FDBFF !important; }
    .theme-aqua .character-name {
      color: #00b7fe !important; }

  .theme-teal td {
    border: 1px solid #39CCCC !important; }
    .theme-teal .character-name {
      color: #1b6a6a !important; }

  .theme-olive td {
    border: 1px solid #3D9970 !important; }
    .theme-olive .character-name {
      color: #193e2d !important; }

  .theme-green td {
    border: 1px solid #2ECC40 !important; }
    .theme-green .character-name {
      color: #17641f !important; }

  .theme-lime td {
    border: 1px solid #01FF70 !important; }
    .theme-lime .character-name {
      color: #008038 !important; }

  .theme-yellow td {
    border: 1px solid #FFDC00 !important; }
    .theme-yellow .character-name {
      color: #806e00 !important; }

  .theme-orange td {
    border: 1px solid #FF851B !important; }
    .theme-orange .character-name {
      color: #9b4800 !important; }

  .theme-red td {
    border: 1px solid #FF4136 !important; }
    .theme-red .character-name {
      color: #b50a00 !important; }

  .theme-fuchsia td {
    border: 1px solid #F012BE !important; }
    .theme-fuchsia .character-name {
      color: #7b0861 !important; }

  .theme-purple td {
    border: 1px solid #B10DC9 !important; }
    .theme-purple .character-name {
      color: #480551 !important; }

  .theme-maroon td {
    border: 1px solid #85144B !important; }
    .theme-maroon .character-name {
      color: #16030d !important; }

  .theme-white td {
    border: 1px solid #FFFFFF !important; }
    .theme-white .character-name {
      color: #bfbfbf !important; }

  .theme-silver td {
    border: 1px solid #DDDDDD !important; }
    .theme-silver .character-name {
      color: #9d9d9d !important; }

  .theme-gray td {
    border: 1px solid #808080 !important; }
    .theme-gray .character-name {
      color: #404040 !important; }

  .theme-black td {
    border: 1px solid #111111 !important; }
    .theme-black .character-name {
      color: black !important; }

  .tents .tents-grid {
    height: 185mm;
    width: 272mm;
    margin: 10mm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5mm;
    justify-items: center;
    position: relative; }
    .tents a {
      color: unset;
      text-decoration: none; }
      .tents .modified {
        color: #0e7eca; }
        .tents .creature {
          border: 1.5px solid #111111;
          display: grid;
          grid-template-rows: 50% 5% min-content auto min-content;
          overflow: hidden;
          height: 185mm;
          width: 100%; }
          .tents .creature.character {
            grid-template-rows: 50% 5% auto minmax(17px, min-content); }
            .tents .creature.character input {
              font-family: "Quattrocento", serif;
              font-weight: 400;
              margin: 0;
              padding: 0;
              width: 100%;
              height: 100%;
              border: none;
              text-align: center; }
              .tents .creature.character .form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-gap: 1em;
                padding: 1em; }
                .tents .creature.character .form .brick {
                  border: 1px solid #DDDDDD;
                  color: #808080;
                  position: relative; }
                  .tents .creature.character .form .brick input {
                    font-family: "Quattrocento", serif;
                    font-weight: 400;
                    text-align: center;
                    font-size: 5em; }
                    .tents .creature.character .form .brick label {
                      position: absolute;
                      bottom: 0.5em;
                      left: 0;
                      right: 0;
                      text-align: center; }
                      .tents .creature.character .form .brick .notes {
                        margin: 0.5em;
                        color: #111111; }
                        .tents .creature.character .form .brick.wide {
                          grid-column-start: span 2; }
            .tents .creature.character .footer .property .name {
              color: #808080; }
          .tents .creature .box.front {
            transform: rotate(180deg);
            display: grid;
            grid-template-rows: auto 4rem 2rem; }
            @media screen {
              .tents .creature .box.front {
                transform: none;   }
}
              .tents .creature .box.front .image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                overflow: hidden;
                padding-top: 1em;
                text-align: center; }
                .tents .creature .box.front .image img {
                  margin: auto;
                  max-height: 100%;
                  max-width: 95%;
                  object-fit: contain;
                  border-radius: 25px; }
            .tents .creature .box.front .name {
              text-align: center;
              overflow: hidden;
              padding: 0 0.5em;
              font-size: 28px;
              line-height: 1.2em;
              text-shadow: 1px 1px 1px silver;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center; }
              .tents .creature .box.front .description {
                text-align: center;
                font-size: 0.9em;
                color: #808080;
                font-style: italic;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center; }
          .tents .creature .box.back {
            font-family: 'Open sans', sans-serif;
            border-top: inherit; }
            .tents .creature .box.back.header {
              padding: 0.2em;
              overflow: hidden;
              display: grid;
              grid-template-columns: 8fr 1fr 1fr;
              grid-template-rows: 2fr 1fr;
              width: 100%; }
              .tents .creature .box.back.header .name {
                grid-area: 1 / 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis; }
                .tents .creature .box.back.header .description {
                  grid-area: 2 / 1;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis; }
                  .tents .creature .box.back.header .name,
                  .tents .creature .box.back.header .initiative,
                  .tents .creature .box.back.header .armour-class {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 12px; }
                    .tents .creature .box.back.header .description,
                    .tents .creature .box.back.header .initiative-caption,
                    .tents .creature .box.back.header .armour-class-caption {
                      font-size: 10px;
                      color: #808080; }
                      .tents .creature .box.back.header .initiative,
                      .tents .creature .box.back.header .initiative-caption,
                      .tents .creature .box.back.header .armour-class,
                      .tents .creature .box.back.header .armour-class-caption {
                        text-align: right; }
                        .tents .creature .box.back.header .initiative {
                          grid-area: 1 / 2; }
                          .tents .creature .box.back.header .armour-class {
                            grid-area: 1 / 3; }
                            .tents .creature .box.back.header .initiative-caption {
                              grid-area: 2 / 2; }
                              .tents .creature .box.back.header .armour-class-caption {
                                grid-area: 2 / 3; }
          .tents .creature .box.details {
            font-size: 10px;
            line-height: 1em; }
            .tents .creature .box.details .stats {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
              text-align: center;
              grid-auto-flow: row;
              margin: 0.2em;
              overflow: hidden;
              white-space: nowrap; }
              .tents .creature .box.details .stats.attributes {
                grid-template-areas: "ac1 hp1 hp1 hd1 hd1 sp1" "ac2 hp2 hp2 hd2 hd2 sp2";
                grid-template-rows: 1fr 1fr; }
                .tents .creature .box.details .stats.abilities {
                  grid-template-areas: "str1 dex1 con1 int1 wis1 cha1" "str2 dex2 con2 int2 wis2 cha2";
                  grid-template-rows: 1fr 1fr; }
                  .tents .creature .box.details .stats .value {
                    font-weight: 600; }
                    .tents .creature .box.details .stats .disabled {
                      color: #808080; }
                      .tents .creature .box.details .stats .saving-throw {
                        color: #808080; }
                        .tents .creature .box.details .stats .hit_points.value span {
                          margin: 0 0.1em; }
                          .tents .creature .box.details .stats .hit_points.value .min,
                          .tents .creature .box.details .stats .hit_points.value .max {
                            color: #808080; }
              .tents .creature .box.details .stats .stat {
                line-height: 1.2em; }
                .tents .creature .box.details .stats .stat.name.hit_points {
                  grid-area: hp1; }
                  .tents .creature .box.details .stats .stat.name.hit_dice {
                    grid-area: hd1; }
                    .tents .creature .box.details .stats .stat.name.armour_class {
                      grid-area: ac1; }
                      .tents .creature .box.details .stats .stat.name.speed {
                        grid-area: sp1; }
                        .tents .creature .box.details .stats .stat.name.str {
                          grid-area: str1; }
                          .tents .creature .box.details .stats .stat.name.dex {
                            grid-area: dex1; }
                            .tents .creature .box.details .stats .stat.name.con {
                              grid-area: con1; }
                              .tents .creature .box.details .stats .stat.name.int {
                                grid-area: int1; }
                                .tents .creature .box.details .stats .stat.name.wis {
                                  grid-area: wis1; }
                                  .tents .creature .box.details .stats .stat.name.cha {
                                    grid-area: cha1; }
                .tents .creature .box.details .stats .stat.value.hit_points {
                  grid-area: hp2; }
                  .tents .creature .box.details .stats .stat.value.hit_dice {
                    grid-area: hd2; }
                    .tents .creature .box.details .stats .stat.value.armour_class {
                      grid-area: ac2; }
                      .tents .creature .box.details .stats .stat.value.speed {
                        grid-area: sp2; }
                        .tents .creature .box.details .stats .stat.value.str {
                          grid-area: str2; }
                          .tents .creature .box.details .stats .stat.value.dex {
                            grid-area: dex2; }
                            .tents .creature .box.details .stats .stat.value.con {
                              grid-area: con2; }
                              .tents .creature .box.details .stats .stat.value.int {
                                grid-area: int2; }
                                .tents .creature .box.details .stats .stat.value.wis {
                                  grid-area: wis2; }
                                  .tents .creature .box.details .stats .stat.value.cha {
                                    grid-area: cha2; }
            .tents .creature .box.details.creature-text {
              display: flex;
              flex-direction: column;
              justify-content: space-between; }
              .tents .creature .box.details.creature-text .creature-text-notes {
                font-style: italic; }
            .tents .creature .box.details.text {
              padding: 2px;
              overflow: hidden; }
              .tents .creature .box.details.text hr {
                width: 33%;
                border: none;
                border-bottom: 0.5px solid #DDDDDD;
                margin: 3px auto 1px; }
                .tents .creature .box.details.text .property {
                  margin: 0;
                  padding: 0;
                  line-height: 1.2em;
                  text-align: left;
                  display: block; }
                  .tents .creature .box.details.text .property.section {
                    font-weight: 700;
                    text-align: center; }
                    .tents .creature .box.details.text .property .name {
                      font-weight: 700; }
                      .tents .creature .box.details.text .property.right {
                        float: right;
                        display: block;
                        margin-right: 0.2em; }
              .tents .creature .box.details.text.footer {
                display: flex;
                justify-content: space-between; }
                .tents .creature .box.details.text.footer .property {
                  text-align: center; }
                  .tents .creature .box.details.text.footer .property.references {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis; }
                    .tents .creature .box.details.text.footer .property.challenge-rating {
                      white-space: nowrap; }
                      .tents .creature .box.details.text.footer .property:first-child {
                        text-align: left; }
                        .tents .creature .box.details.text.footer .property:last-child {
                          text-align: right; }
  .tents .creature-legendary .header .name,
  .tents .creature-legendary .header .name .modified {
    font-weight: 700;
    color: #58170D; }
    .tents .creature-legendary .front .header {
      font-variant: small-caps; }
      .tents .creature-legendary .back.header .name {
        text-transform: uppercase; }
  .tents .source-curse-of-strahd, .tents .campaign-curse-of-strahd {
    border-color: darkred; }
    .tents .creature-tent-beyond-avatar img {
      width: 150px;
      height: 150px;
      background: #DDDDDD; }
  .tents .creature-no-image .box.front {
    grid-template-rows: auto 2rem; }
    .tents .creature-no-image .box.front .image {
      display: none !important; }
  .tents .creature-no-description .box.front .description {
    display: none; }
  .tents .creature-borderless .box.front,
  .tents .creature-image-borderless .box.front {
    position: relative; }
    .tents .creature-borderless .box.front .image img,
    .tents .creature-image-borderless .box.front .image img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      border-radius: unset;
      object-fit: cover;
      z-index: 10; }
    .tents .creature-borderless .box.front .name,
    .tents .creature-borderless .box.front .description,
    .tents .creature-image-borderless .box.front .name,
    .tents .creature-image-borderless .box.front .description {
      z-index: 20;
      width: 100%;
      background: rgba(255, 255, 255, 0.75);
      text-shadow: 1px 1px 1px #FFFFFF; }
      .tents .creature-borderless .box.front .name,
      .tents .creature-image-borderless .box.front .name {
        padding-top: 0.25rem; }
        .tents .creature-borderless .box.front .description,
        .tents .creature-image-borderless .box.front .description {
          padding-bottom: 0.25rem; }
  .tents .creature-compact .box.details.text .property {
    display: inline; }
  .tents .creature-kenku .front .name {
    font-style: italic;
    font-variant: small-caps; }
  .tents .creature-long-name .front .name {
    font-size: 22px !important; }

  .theme-navy .name {
    color: #001F3F !important; }
    .theme-navy .description {
      color: #101f2f; }
      .theme-navy input {
        color: rgba(0, 31, 63, 0.5); }
        .theme-navy .footer {
          color: black; }

  .theme-blue .name {
    color: #0074D9 !important; }
    .theme-blue .description {
      color: #3670a3; }
      .theme-blue input {
        color: rgba(0, 116, 217, 0.5); }
        .theme-blue .footer {
          color: #004b8c; }
          .theme-blue.creature-symbol img {
            filter: invert(31%) sepia(89%) saturate(3002%) hue-rotate(192deg) brightness(92%) contrast(103%); }

  .theme-aqua .name {
    color: #7FDBFF !important; }
    .theme-aqua .description {
      color: #9fcddf; }
      .theme-aqua input {
        color: rgba(127, 219, 255, 0.5); }
        .theme-aqua .footer {
          color: #32c5ff; }

  .theme-teal .name {
    color: #39CCCC !important; }
    .theme-teal .description {
      color: #778e8e; }
      .theme-teal input {
        color: rgba(57, 204, 204, 0.5); }
        .theme-teal .footer {
          color: #269393; }

  .theme-olive .name {
    color: #3D9970 !important; }
    .theme-olive .description {
      color: #6b6b6b; }
      .theme-olive input {
        color: rgba(61, 153, 112, 0.5); }
        .theme-olive .footer {
          color: #276248; }

  .theme-green .name {
    color: #2ECC40 !important; }
    .theme-green .description {
      color: #6c8e70; }
      .theme-green input {
        color: rgba(46, 204, 64, 0.5); }
        .theme-green .footer {
          color: #208e2c; }
          .theme-green.creature-symbol img {
            filter: invert(53%) sepia(98%) saturate(370%) hue-rotate(76deg) brightness(99%) contrast(99%); }

  .theme-lime .name {
    color: #01FF70 !important; }
    .theme-lime .description {
      color: #40c078; }
      .theme-lime input {
        color: rgba(1, 255, 112, 0.5); }
        .theme-lime .footer {
          color: #00b34e; }

  .theme-yellow .name {
    color: #FFDC00 !important; }
    .theme-yellow .description {
      color: #bfae40; }
      .theme-yellow input {
        color: rgba(255, 220, 0, 0.5); }
        .theme-yellow .footer {
          color: #b29a00; }

  .theme-orange .name {
    color: #FF851B !important; }
    .theme-orange .description {
      color: #c68954; }
      .theme-orange input {
        color: rgba(255, 133, 27, 0.5); }
        .theme-orange .footer {
          color: #ce6000; }
          .theme-orange.creature-symbol img {
            filter: invert(54%) sepia(66%) saturate(1051%) hue-rotate(346deg) brightness(102%) contrast(102%); }

  .theme-red .name {
    color: #FF4136 !important; }
    .theme-red .description {
      color: #cd6e68; }
      .theme-red input {
        color: rgba(255, 65, 54, 0.5); }
        .theme-red .footer {
          color: #e80d00; }
          .theme-red.creature-symbol img {
            filter: invert(39%) sepia(45%) saturate(4243%) hue-rotate(339deg) brightness(100%) contrast(105%); }

  .theme-fuchsia .name {
    color: #F012BE !important; }
    .theme-fuchsia .description {
      color: #b1519b; }
      .theme-fuchsia input {
        color: rgba(240, 18, 190, 0.5); }
        .theme-fuchsia .footer {
          color: #ab0b87; }

  .theme-purple .name {
    color: #B10DC9 !important; }
    .theme-purple .description {
      color: #894393; }
      .theme-purple input {
        color: rgba(177, 13, 201, 0.5); }
        .theme-purple .footer {
          color: #720881; }
          .theme-purple.creature-symbol img {
            filter: invert(17%) sepia(67%) saturate(4537%) hue-rotate(285deg) brightness(93%) contrast(112%); }

  .theme-maroon .name {
    color: #85144B !important; }
    .theme-maroon .description {
      color: #5f3a4c; }
      .theme-maroon input {
        color: rgba(133, 20, 75, 0.5); }
        .theme-maroon .footer {
          color: #430a26; }

  .theme-white .name {
    color: #FFFFFF !important; }
    .theme-white .description {
      color: white; }
      .theme-white input {
        color: rgba(255, 255, 255, 0.5); }
        .theme-white .footer {
          color: #d9d9d9; }

  .theme-silver .name {
    color: #DDDDDD !important; }
    .theme-silver .description {
      color: #ddd; }
      .theme-silver input {
        color: rgba(221, 221, 221, 0.5); }
        .theme-silver .footer {
          color: #b7b7b7; }

  .theme-gray .name {
    color: #808080 !important; }
    .theme-gray .description {
      color: gray; }
      .theme-gray input {
        color: rgba(128, 128, 128, 0.5); }
        .theme-gray .footer {
          color: #5a5a5a; }

  .theme-black .name {
    color: #111111 !important; }
    .theme-black .description {
      color: #111; }
      .theme-black input {
        color: rgba(17, 17, 17, 0.5); }
        .theme-black .footer {
          color: black; }

  #toc .sheet {
    padding: 5rem; }
    #toc .toc-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem; }
      #toc h1 {
        font-weight: 700;
        color: #58170D;
        font-size: 3rem;
        margin: 0; }
        #toc h1 a {
          color: inherit; }
  #toc h2 {
    color: #58170D;
    border-bottom: 2px solid #C9AD6A;
    padding-top: 150px;
    margin-top: -150px; }
    #toc header {
      text-align: center;
      margin: 3rem; }
      #toc nav a {
        text-decoration: none; }
        #toc nav a:hover {
          color: #FF4136;
          text-decoration: underline; }
      #toc nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0; }
        #toc nav .tree {
          padding-left: 0; }
          #toc nav .tree ul {
            padding-left: 1em; }
            #toc nav .tree .tree-section {
              margin-bottom: 1em;
              padding-top: 50px;
              margin-top: -50px;
              z-index: -1; }
              #toc nav .tree .tree-header {
                font-weight: 700;
                display: block;
                margin-bottom: 0.5em; }
                #toc nav .tree .flex {
                  display: flex;
                  justify-content: space-between; }
      #toc nav .section {
        padding-left: 1em; }
        #toc nav .section .subsection {
          display: flex;
          justify-content: space-between; }
          #toc nav .section .subsection .subsection-links {
            display: inline-block; }
            #toc nav .section .subsection .subsection-links .ra {
              font-size: 0.9em;
              display: inline-block;
              height: 1rem;
              width: 1rem; }
              #toc nav .section .subsection .subsection-links a:hover {
                text-decoration: none; }
        #toc nav .section.section-level-0 {
          padding-left: 0; }
          #toc nav .section .subsection-level-1 {
            margin-top: 1em;
            width: 100%; }
            #toc nav .section .subsection-level-1 > .subsection-name {
              font-weight: 700; }
      #toc nav .link-vault {
        color: #B10DC9; }
        #toc nav .link-encounter {
          color: #0074D9; }
          #toc nav .link-tents {
            color: #FF4136; }
            #toc nav .link-summaries {
              color: #2ECC40; }
  #toc footer {
    padding-top: 2rem;
    color: #808080;
    font-size: 0.8em;
    text-align: center; }
    #toc footer a {
      color: #4d4d4d;
      text-decoration: none; }
      #toc footer a:hover {
        color: #FF4136;
        text-decoration: underline; }
    #toc footer p {
      margin: 0; }

  #flDebug {
    display: none; }

    @media screen {
      #flDebug {
        display: unset !important;   }
}

  .ra {
    display: inline-block;
    height: 1rem;
    width: 1rem; }

    .navbar {
      display: none; }

      @media screen {
        .navbar {
          display: block;
          z-index: 999;
          width: 100%;
          color: #FFFFFF;
          white-space: nowrap;   }
          .navbar .container {
            margin: auto;   }
            .navbar .navbar-brand {
              text-decoration: none !important;   }
              .navbar .navbar-brand span:hover {
                text-decoration: underline !important;   }
          .navbar .navbar-item {
            display: inline-block;
            line-height: 3rem;
            padding: 0 1rem;   }
            .navbar a {
              text-decoration: none;   }
              .navbar a:hover {
                text-decoration: underline;   }
          .navbar .navbar-columns {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;   }
            .navbar .navbar-columns div:first-of-type {
              text-align: left;   }
              .navbar .navbar-columns div {
                text-align: center;   }
                .navbar .navbar-columns div:last-of-type {
                  text-align: right;   }
        .navbar-primary {
          font-family: "Quattrocento", serif;
          font-weight: 400;
          font-variant: small-caps;
          background-color: #58170D;   }
          .navbar-primary a {
            font-weight: 700;   }
            .navbar-primary a:hover {
              background-color: #672c23;   }
        .navbar-secondary {
          background-color: #842314;   }
          .navbar-secondary a:hover {
            background-color: #8f3729;   }
        .portrait .container {
          width: 210mm;   }
          .landscape .container {
            width: 297mm;   }
}

  * {
    box-sizing: border-box; }

    body {
      font-family: "Quattrocento", serif;
      font-weight: 400;
      margin: 0;
      padding: 0; }
      body a {
        color: unset;
        text-decoration: none; }
        body a:hover {
          text-decoration: underline; }

  .sheet {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }
    .sheet.centered {
      display: flex;
      align-items: center;
      justify-content: center; }

  @page {
    size: A4;
    margin: 0;
    padding: 0; }

    .screen-only {
      display: none; }

      @media screen {
        body {
          background: url("/static/homebrewery/phb_bg.png") repeat-y;   }
          .screen-only {
            display: block;   }
            .sheet {
              background: white;
              box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
              margin: 5mm auto 5mm;   }
              .portrait .sheet {
                height: 297mm;
                width: 210mm;   }
                .landscape .sheet {
                  height: 210mm;
                  width: 297mm;   }
}
