@import "fonts";
@import "variables";

.encounters {
  padding: 10mm;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  h2 {
    color: $theme-primary;
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  a {
    color: unset;
    text-decoration: none;
  }

  table {
    font-size: 0.8em;

    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: center;
    width: 100%;

    th, td {
      border: 1px solid darkgrey;
      margin: 0;
      padding: 6px;

      p {
        margin: 0;
        padding: 0;
      }

      &.text {
        width: 100px;
        max-width: 100px;
        text-align: left;

        &[rowspan="1"] {
          @include ellipsis;
        }

        &:not([rowspan="1"]) {

        }
      }

      &td.status,
      &td.text-description {
        text-align: right;
        color: grey;
      }

      &.source {
        width: 56px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        @include ellipsis;
      }

      &.number {
        width: 28px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }
  }

  footer {
    text-align: center;
    font-size: 0.8em;
    font-variant: small-caps;
    color: $gray;
  }

  .creature {
    a {
      color: unset;
    }

    .creature-details {
      @include ellipsis;
    }

    .bold, .armour-class, .hit-points.avg {
      @include bold;
    }

    .source, .page, .area {
      color: gray;
    }

    .initiative,
    .hit-points.min,
    .hit-points.max {
      color: gray;
    }
  }
}
