@import "fonts";
@import "variables";

$page-size-x: 209mm;
$page-size-y: 297mm;

// My card sleeves are bigger than the cards they are intended to fit.
//  2.5in x  3.5in ->  2.6in *  3.7in.
// 63.5mm x 88.9mm -> 66.0mm * 94.0mm.

$item-card-size-x: 63.5mm - 1.0mm; // 2.5in or 63.5mm
$item-card-size-y: 88.0mm + 2.0mm; // 3.5in or 88.0mm
$item-card-count-x: 3;
$item-card-count-y: 3;
$item-card-gap: 2mm;

.items {
  padding: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  .items-grid {
    display: grid;
    grid-template-columns: repeat(3, $item-card-size-x);
    grid-template-rows: repeat(3, $item-card-size-y);
    grid-gap: $item-card-gap;

    margin: 10mm;

    .item-card {
      width: $item-card-size-x;
      height: $item-card-size-y;
      overflow: hidden;

      display: grid;
      grid-template-rows: 50px 25px 1fr 25px;

      border: 2px solid black;
      font-size: 12px;

      background-size: cover;
      background-position: center;
      background-clip: padding-box;
      background-repeat: no-repeat;

      section {
        padding: 5px;
        overflow: hidden;

        @include sans;

        & + section {
          border-top: 1px solid black;
        }

        .name {
          font-weight: bold;
        }

        &.item-header {
          display: flex;
          align-items: center;
          text-align: center;

          @include serif;

          .item-name {
            width: 100%;
            font-size: 1rem;
            font-weight: 700;
          }
        }

        &.item-subtitle {
          @include serif;

          .item-attunement {
            font-size: 0.8em;
            float: right;
          }
        }

        &.item-body {
          overflow: hidden;

          display: grid;
          grid-template-rows: 1fr min-content min-content;

          .item-image {
            // Center images of any size with
            // div { display: flex; align-items: center; justify-content: center; }
            // img { max-width: 100%; max-height: 100%; }
            display: flex;
            align-items: center;
            justify-content: center;

            max-width: 100%;
            max-height: 100%;
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }

          .item-description {
            p {
              margin: 0;

              &:not(:last-of-type) {
                margin-bottom: 5px;
              }
            }
          }

          .item-symbols {
            $icon-size: 40px;
            padding: 1em 0;
            text-align: center;

            &.item-icon {
              display: flex;
              justify-content: center;

              .ra {
                font-size: $icon-size;
                width: unset;
                height: unset;
                color: #7ba0a8;
              }
            }

            &.item-dice {

              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              .die {
                height: $icon-size;
              }

              .die-text {
                margin-left: 0.1em;
                color: $red;
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                text-align: center;
              }
            }
          }

          .item-attributes {
            height: 40px;

            display: flex;
            align-items: end;

            .item-attributes-grid {
              width: 100%;
              display: grid;
              grid-template-rows: min-content min-content;
              grid-auto-columns: 1fr;
              grid-auto-flow: column;
              grid-column-gap: 10px;

              .attribute-name {
                font-weight: bold;
              }

              .attribute-value {
                float: right;
                font-variant-numeric: tabular-nums;
              }
            }
          }
        }

        &.item-footer {
          display: flex;
          justify-content: space-between;
          color: $gray;

          .version {
            color: lighten($gray, 20%);
          }
        }

        &.item-header,
        &.item-subtitle {
          text-align: center;
        }

        &.item-subtitle,
        &.item-footer {
          line-height: 15px;
        }
      }
    }
  }

  .item-type-armor {
    .item-icon .ra {
      color: $blue !important;
    }
  }

  .item-type-potion {
    .item-icon .ra {
      color: $green !important;
    }
  }

  .item-type-ring {
    .item-icon .ra {
      color: $yellow !important;
    }
  }

  .item-type-rod {
    .item-icon .ra {
      color: $fuchsia !important;
    }
  }

  .item-type-scroll {
    .item-icon .ra {
      color: $orange !important;
    }

    .item-header {
      color: grey;

      em {
        color: black;
        font-style: normal;
        display: block;
      }
    }
  }

  .item-type-staff {
    .item-icon .ra {
      color: $aqua !important;
    }
  }

  .item-type-wand {
    .item-icon .ra {
      color: $purple !important;
    }
  }

  .item-type-weapon {
    .item-icon .ra {
      color: $red !important;
    }
  }

  .item-type-wondrous-item {
    .item-header {
      color: $navy;
      font-style: italic;
    }

    .item-icon .ra {
      color: $navy !important;
    }
  }

  .item-many-attributes {
    .item-attributes-grid {
      grid-template-rows: unset !important;
      grid-template-columns: 1fr 1fr !important;
      grid-auto-columns: unset !important;
      grid-auto-rows: 1fr !important;
      grid-auto-flow: row !important;
    }
  }
}
