@import "variables";
@import "fonts";

#toc {
  .sheet {
    padding: 5rem;
  }

  .toc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  h1 {
    @include bold;

    color: $theme-primary;
    font-size: 3rem;
    margin: 0;

    a {
      color: inherit;
    }
  }

  h2 {
    color: $theme-primary;
    border-bottom: 2px solid $theme-highlight;

    // Account for the navigation bar.
    padding-top: 150px;
    margin-top: -150px;
  }

  header {
    text-align: center;
    margin: 3rem;
  }

  nav {
    a {
      text-decoration: none;

      &:hover {
        color: $red;
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    .tree {
      padding-left: 0;

      ul {
        padding-left: 1em;
      }

      .tree-section {
        margin-bottom: 1em;

        // Account for the navigation bar.
        padding-top: 50px;
        margin-top: -50px;
        z-index: -1;
      }

      .tree-header {
        @include bold;
        display: block;
        margin-bottom: .5em;
      }

      .flex {
        display: flex;
        justify-content: space-between;
      }
    }

    .section {
      padding-left: 1em;

      .subsection {
        display: flex;
        justify-content: space-between;

        .subsection-links {
          display: inline-block;

          .ra {
            font-size: 0.9em;
            display: inline-block;
            height: 1rem;
            width: 1rem;
          }

          a:hover {
            text-decoration: none;
          }

        }
      }

      &.section-level-0 {
        padding-left: 0;
      }

      .subsection-level-1 {
        margin-top: 1em;
        width: 100%;

        & > .subsection-name {
          @include bold;
        }
      }
    }

    .link-vault {
      color: $purple;
    }

    .link-encounter {
      color: $blue;
    }

    .link-tents {
      color: $red;
    }

    .link-summaries {
      color: $green;
    }
  }

  footer {
    padding-top: 2rem;
    color: $gray;
    font-size: 0.8em;
    text-align: center;

    a {
      color: darken($gray, 20%);
      text-decoration: none;

      &:hover {
        color: $red;
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
    }
  }
}
