/*
 * Bestiary and monster tent styling.
 *
 * Includes various tweaks for on-screen display and print.
 *
 * At least with Firefox, "@media print" doesn't seem to overwrite properties on
 * print preview, whereas clearing them with "@media screen" seems to work fine.
 */
@import "fonts";
@import "variables";

$tent-gap: 1.5mm;
$tent-count: 5;

$tents-page-height: $a4-short - 25mm;
$tents-page-width: $a4-long - 25mm;
$tents-page-padding: 5mm;

.tents {
  .tents-grid {
    height: $tents-page-height;
    width: $tents-page-width;
    margin: 10mm;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: $tent-gap;
    justify-items: center;

    position: relative;
  }

  a {
    color: unset;
    text-decoration: none;
  }

  .modified {
    color: darken($theme-modified, 10%);
  }

  .creature {
    border: 1.5px solid $black;
    display: grid;
    grid-template-rows: 50% 5% min-content auto min-content;
    overflow: hidden;

    height: $tents-page-height;
    width: 100%;

    &.character {
      grid-template-rows: 50% 5% auto minmax(17px, min-content);

      input {
        @include serif;

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: none;
        text-align: center;
      }

      .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em;
        padding: 1em;

        .brick {
          border: 1px solid $silver;
          color: $gray;

          position: relative;

          input {
            @include serif;
            text-align: center;
            font-size: 5em;
          }

          label {
            position: absolute;
            bottom: 0.5em;
            left: 0;
            right: 0;
            text-align: center;
          }

          .notes {
            margin: 0.5em;
            color: $black;
          }

          &.wide {
            grid-column-start: span 2;
          }
        }
      }

      .footer .property .name {
        color: $gray;
      }
    }

    .box {
      &.front {
        transform: rotate(180deg);

        @media screen {
          transform: none;
        }

        display: grid;
        grid-template-rows: auto 4rem 2rem;

        .image {
          @include vertical_align;

          overflow: hidden;
          padding-top: 1em;
          text-align: center;

          img {
            margin: auto;

            max-height: 100%;
            max-width: 95%;
            object-fit: contain;
            border-radius: 25px;
          }
        }

        .name {
          text-align: center;
          overflow: hidden;

          padding: 0 0.5em;
          font-size: 28px;
          line-height: 1.2em;
          text-shadow: 1px 1px 1px lighten($gray, 25%);

          @include vertical_align;
        }

        .description {
          text-align: center;

          font-size: 0.9em;
          color: $gray;
          font-style: italic;

          //@include ellipsis;
          @include vertical_align;
        }
      }

      &.back {
        @include sans;
        border-top: inherit;

        &.header {
          padding: 0.2em;

          overflow: hidden;

          display: grid;
          grid-template-columns: 8fr 1fr 1fr;
          grid-template-rows: 2fr 1fr;
          width: 100%;

          .name {
            grid-area: 1 / 1;

            @include ellipsis;
          }

          .description {
            grid-area: 2 / 1;

            @include ellipsis;
          }

          .name, .initiative, .armour-class {
            @include bold;
            font-size: 12px;
            line-height: 12px;
          }

          .description, .initiative-caption, .armour-class-caption {
            font-size: 10px;
            color: $gray;
          }

          .initiative, .initiative-caption,
          .armour-class, .armour-class-caption {
            text-align: right;
          }

          .initiative {
            grid-area: 1 / 2;
          }

          .armour-class {
            grid-area: 1 / 3;
          }

          .initiative-caption {
            grid-area: 2 / 2;
          }

          .armour-class-caption {
            grid-area: 2 / 3;
          }
        }
      }

      &.details {
        font-size: 10px;
        line-height: 1em;

        .stats {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          text-align: center;
          grid-auto-flow: row;
          margin: 0.2em;

          overflow: hidden;
          white-space: nowrap;

          &.attributes {
            grid-template-areas: "ac1 hp1 hp1 hd1 hd1 sp1" "ac2 hp2 hp2 hd2 hd2 sp2";
            grid-template-rows: 1fr 1fr;
          }

          &.abilities {
            grid-template-areas: "str1 dex1 con1 int1 wis1 cha1" "str2 dex2 con2 int2 wis2 cha2";
            grid-template-rows: 1fr 1fr;
          }

          .value {
            font-weight: 600;
          }

          .disabled {
            color: $gray;
          }

          .saving-throw {
            color: $gray;
          }

          .hit_points.value {
            span {
              margin: 0 0.1em;
            }

            .min, .max {
              color: $gray;
            }
          }

          .stat {
            line-height: 1.2em;

            &.name {
              &.hit_points {
                grid-area: hp1;
              }

              &.hit_dice {
                grid-area: hd1;
              }

              &.armour_class {
                grid-area: ac1;
              }

              &.speed {
                grid-area: sp1;
              }

              &.str {
                grid-area: str1;
              }

              &.dex {
                grid-area: dex1;
              }

              &.con {
                grid-area: con1;
              }

              &.int {
                grid-area: int1;
              }

              &.wis {
                grid-area: wis1;
              }

              &.cha {
                grid-area: cha1;
              }

            }

            &.value {
              &.hit_points {
                grid-area: hp2;
              }

              &.hit_dice {
                grid-area: hd2;
              }

              &.armour_class {
                grid-area: ac2;
              }

              &.speed {
                grid-area: sp2;
              }

              &.str {
                grid-area: str2;
              }

              &.dex {
                grid-area: dex2;
              }

              &.con {
                grid-area: con2;
              }

              &.int {
                grid-area: int2;
              }

              &.wis {
                grid-area: wis2;
              }

              &.cha {
                grid-area: cha2;
              }
            }
          }
        }

        &.creature-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .creature-text-notes {
            font-style: italic;
          }
        }

        &.text {
          padding: 2px;
          overflow: hidden;

          hr {
            width: 33%;
            border: none;
            border-bottom: 0.5px solid $silver;
            margin: 3px auto 1px;
          }

          .property {
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            text-align: left;

            display: block;

            &.section {
              @include bold;
              text-align: center;
            }

            .name {
              @include bold;
            }

            .value {

            }

            &.right {
              float: right;
              display: block;
              margin-right: 0.2em;
            }
          }

          &.footer {
            display: flex;
            justify-content: space-between;


            .property {
              text-align: center;

              &.references {
                @include ellipsis;
              }

              &.challenge-rating {
                white-space: nowrap;
              }

              &:first-child {
                text-align: left;
              }

              &:last-child {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .creature-legendary {
    .header .name,
    .header .name .modified {
      @include bold;
      color: $theme-primary;
    }

    .front .header {
      font-variant: small-caps;
    }

    .back.header .name {
      text-transform: uppercase;
    }
  }

  .source-curse-of-strahd,
  .campaign-curse-of-strahd {
    border-color: darkred;
  }

  .creature-tent-beyond-avatar {
    img {
      width: 150px;
      height: 150px;
      background: $silver;
    }
  }

  .creature-no-image {
    .box.front {
      grid-template-rows: auto 2rem;

      .image {
        display: none !important;
      }
    }
  }

  .creature-no-description {
    .box.front .description {
      display: none;
    }
  }

  .creature-borderless,
  .creature-image-borderless {
    .box.front {
      position: relative;

      .image {
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          width: 100%;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          border-radius: unset;
          object-fit: cover;

          z-index: 10;
        }
      }

      .name, .description {
        z-index: 20;
        width: 100%;
        background: rgba(255, 255, 255, 0.75);
        text-shadow: 1px 1px 1px $white;
      }

      .name {
        padding-top: 0.25rem;
      }

      .description {
        padding-bottom: 0.25rem;
      }
    }
  }

  .creature-compact {
    .box.details.text .property {
      display: inline;
    }
  }

  .creature-kenku {
    .front .name {
      font-style: italic;
      font-variant: small-caps;
    }
  }

  .creature-long-name {
    .front .name {
      font-size: 22px !important;
    }
  }
}

@mixin theme($color) {
  .name {
    color: $color !important;
  }

  .description {
    color: desaturate($color, 50%);
  }

  input {
    color: transparentize($color, 0.5);
  }

  .footer {
    color: darken($color, 15%);
  }
}

// https://codepen.io/sosuke/pen/Pjoqqp
@mixin theme_filter($filter) {
  &.creature-symbol img {
    filter: $filter;
  }
}

.theme-navy {
  @include theme($navy);
}

.theme-blue {
  @include theme($blue);
  @include theme_filter(invert(31%) sepia(89%) saturate(3002%) hue-rotate(192deg) brightness(92%) contrast(103%));
}

.theme-aqua {
  @include theme($aqua);
}

.theme-teal {
  @include theme($teal);
}

.theme-olive {
  @include theme($olive);
}

.theme-green {
  @include theme($green);
  @include theme_filter(invert(53%) sepia(98%) saturate(370%) hue-rotate(76deg) brightness(99%) contrast(99%));
}

.theme-lime {
  @include theme($lime);
}

.theme-yellow {
  @include theme($yellow);
}

.theme-orange {
  @include theme($orange);
  @include theme_filter(invert(54%) sepia(66%) saturate(1051%) hue-rotate(346deg) brightness(102%) contrast(102%));
}

.theme-red {
  @include theme($red);
  @include theme_filter(invert(39%) sepia(45%) saturate(4243%) hue-rotate(339deg) brightness(100%) contrast(105%));
}

.theme-fuchsia {
  @include theme($fuchsia);
}

.theme-purple {
  @include theme($purple);
  @include theme_filter(invert(17%) sepia(67%) saturate(4537%) hue-rotate(285deg) brightness(93%) contrast(112%));
}

.theme-maroon {
  @include theme($maroon);
}

.theme-white {
  @include theme($white);
}

.theme-silver {
  @include theme($silver);
}

.theme-gray {
  @include theme($gray);
}

.theme-black {
  @include theme($black);
}
