@import "fonts";
@import "variables";

.summary {
  padding: 10mm;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }

  h2 {
    color: $theme-primary;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 1em 0;
  }

  table {
    font-size: 0.8em;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: center;
    width: 100%;

    th, td {
      border: 1px solid darkgrey;
      margin: 0;
      padding: 6px;
    }

    .character-name {
      @include bold;
      @include ellipsis;
    }

    .stat {
      text-align: center;

      .name {
        color: grey;
      }

      .value {
        font-weight: bold;
      }
    }

    .character-player {
      width: 100px;
      text-align: center;
    }

    .notes {
      height: 28px * 2;
      grid-column: 1 / 7;
      vertical-align: top;
      color: grey;
    }

    .break {
      height: 28px;
      border: none;
    }
  }
}

@mixin theme($color) {
  td {
    border: 1px solid $color !important;
  }

  .character-name {
    color: darken($color, 25%) !important;
  }
}

.theme-navy {
  @include theme($navy);
}

.theme-blue {
  @include theme($blue);
}

.theme-aqua {
  @include theme($aqua);
}

.theme-teal {
  @include theme($teal);
}

.theme-olive {
  @include theme($olive);
}

.theme-green {
  @include theme($green);
}

.theme-lime {
  @include theme($lime);
}

.theme-yellow {
  @include theme($yellow);
}

.theme-orange {
  @include theme($orange);
}

.theme-red {
  @include theme($red);
}

.theme-fuchsia {
  @include theme($fuchsia);
}

.theme-purple {
  @include theme($purple);
}

.theme-maroon {
  @include theme($maroon);
}

.theme-white {
  @include theme($white);
}

.theme-silver {
  @include theme($silver);
}

.theme-gray {
  @include theme($gray);
}

.theme-black {
  @include theme($black);
}

