@import "variables";
@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@mixin serif {
  font-family: "Quattrocento", serif;
  font-weight: 400;
}

@mixin serif-caps {
  @include serif;
  font-variant: small-caps;
}

@mixin sans {
  font-family: 'Open sans', sans-serif;
}


@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin vertical_align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin bold {
  font-weight: 700;
}

h1, h2 {
  @include serif-caps;

}

h3, h4, h5 {
  @include serif;
  @include bold;
}

.modified {
  color: $theme-modified;
}

.curse {
  color: $theme-primary;

  strong {
    color: $red;
  }
}
