@import "fonts";
@import "variables";

.navbar {
  display: none;
}

@media screen {
  .navbar {
    display: block;
    z-index: 999;

    width: 100%;
    color: $white;

    white-space: nowrap;

    .container {
      //padding: 0 10mm;
      margin: auto;
    }

    .navbar-brand {
      text-decoration: none !important;

      span:hover {
        text-decoration: underline !important;
      }
    }

    .navbar-item {
      display: inline-block;
      line-height: 3rem;
      padding: 0 1rem;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .navbar-columns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      div:first-of-type {
        text-align: left;
      }

      div {
        text-align: center;
      }

      div:last-of-type {
        text-align: right;
      }
    }
  }

  .navbar-primary {
    @include serif-caps;

    background-color: $theme-primary;

    a {
      @include bold;
    }

    a:hover {
      background-color: $theme-primary-light;
    }
  }

  .navbar-secondary {
    background-color: $theme-secondary;

    a:hover {
      background-color: $theme-secondary-hover;
    }
  }

  .portrait .container {
    width: $a4-short;
  }

  .landscape .container {
    width: $a4-long;
  }
}
