$theme-primary: #58170D;
$theme-primary-light: #672c23;
$theme-secondary: #842314;
$theme-secondary-hover: #8f3729;
$theme-highlight: #C9AD6A;
$theme-modified: #1c9aef;

$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #808080;
$black: #111111;

$a4-long: 297mm;
$a4-short: 210mm;
