@import "blueprint_encounters";
@import "blueprint_items";
@import "blueprint_summary";
@import "blueprint_tents";
@import "blueprint_toc";
@import "ext_fldebug";
@import "ext_rpgawesome";
@import "navbar";
@import "fonts";

* {
  box-sizing: border-box;
}

body {
  @include serif;

  margin: 0;
  padding: 0;

  a {
    color: unset;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sheet {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  &.centered {
    // Horizontally and vertically center the item on the sheet.
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@page {
  size: A4;
  margin: 0;
  padding: 0;
}

.screen-only {
  display: none;
}

@media screen {
  body {
    background: url("/static/homebrewery/phb_bg.png") repeat-y;
  }

  .screen-only {
    display: block;
  }

  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm auto 5mm;
  }

  .portrait .sheet {
    height: $a4-long;
    width: $a4-short;
  }

  .landscape .sheet {
    height: $a4-short;
    width: $a4-long;
  }
}
